
.card-user .btn {
    margin: 6px 0 6px 0 !important;
}

.tag-editor {
    width: 100% !important;
}

.checkbox-detailed {
    margin: 0px 15px 0px 0px !important;
}

.fc-toolbar {
    padding: 5px 15px 5px 15px !important;
}